.Home-page{
    background: black;
}
.nav-container
{
   background: rgb(0, 0,0);
   position: sticky;
   top: 0;
   z-index: 2; 
}
nav
{
    width: 80%;
    margin: auto;
    min-height: 10vh;
    padding: 5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

ul{
    display: flex;
    justify-content: space-between;
    flex: 0.4;
    list-style: none;
}
    #logo{
        flex: 0.04;
        position: relative;
        }
    .login{
        background: #F54538;
        padding: 0.6rem 3rem;
        border-radius: 1.4rem;
    }
    ul .login:hover{
        background: #585858;
        color: #F54538
    }
    ul .specs:hover{
        color: #585858;
    }
    ul .products:hover{
        color: #585858;
    }
}
.Showcase{
    display: grid;
    min-height: 90vh;
    grid-template-columns: 10% repeat(3,minmax(5rem,1fr)) 10%;
    grid-template-rows: 0fr 2fr 1fr;

    h2{
        grid-column: 2/3;
        grid-row: 2/3;
        align-self: flex-end;
        padding-bottom: 3.5rem;
    }
    h4{
        grid-column: 2/3;
        grid-row: 2/3;
        align-self: flex-end;
        padding-left: 0.5rem;
    }
    img{
        padding-left: 15rem;
        padding-top: 5rem;
        grid-row: 2/3;
        grid-column: 3/4;
        height: 120%;
        object-fit: cover;
        align-self: center;
        justify-self: center;
    }
    .info{
        grid-column: 4/5;
        grid-row: 3/4;
    h3
    {
        padding-bottom: 1rem;
    }
    p{
        color: #949494;
        padding-bottom: 3rem;
    }
    h5
    {
        width: 15rem;
        height: 4.5rem;
        background: #585858;
        padding: 0.4rem 3.3rem;
        border-radius: 1.4rem;
    }
    }
}